<div class="alert alert-warning text-center p-5 h2" *ngIf="rentals$.subscribe.length == 0">
  Bạn chưa có đơn hàng nào ^^
</div>  
<div style="margin-left: 30px" *ngIf="rentals$.subscribe.length > 0">
  <h1>Danh sách đơn hàng</h1>
  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Số hóa đơn</th>
          <th>Ngày thuê</th>
          <th>Ngày trả</th>
          <th>Tổng giá trị</th>
          <th>Trạng thái</th>
          <th>Chức năng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rental of (rentals$ | async)">
          <td>{{ rental.id }}</td>
          <td>{{ rental.rentalDate | date: 'dd-MM-yyyy' }}</td>
          <td>{{ rental.returnDate | date: 'dd-MM-yyyy' }}</td>
          <td>{{ rental.totalAmount | number: '1.0-2' }} VND</td>
          <td>{{ rental.statusName }}</td>
          <td>
            <button class="btn btn-primary btn-sm" routerLink="order/view-details/{{ rental.id }}">Xem chi tiết</button>
            <!-- <button class="btn btn-danger btn-sm" (click)="deleteRental(rental)">Hủy đơn</button> -->
          </td>
        </tr>
      </tbody>
    </table>
</div>
